/* .image-text{
    position: absolute;
    right: 550px;
    font-size: 70px;
    color: white;
    font-weight: 900;
    top: 90px;
    text-align: right;
} */
.form {
    height: fit-content;
    width: fit-content;
    padding: 30px;
    background-image: linear-gradient(#000000, #1d1c1c) !important;
    /* background-color: rgba(255,255,255,0.13); */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.102);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.inputs-label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.inputs {
    display: block;
    height: 40px;
    width: 100%;
    border: 2px solid black !important;
    /* background-color: rgba(255, 255, 255, 0.07); */
    border-radius: 3px;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 15px;
    color: white;
}

::placeholder {
    color: black;
}

.button {
    margin-top: 20px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}